<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Skinny7&amp;&amp;</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-theme-neutral-dark);
        background-color: var(--dl-color-theme-neutral-light);

        fill: var(--dl-color-theme-neutral-dark);
      }
    </style>
    <link
      rel="stylesheet"
      href="https://unpkg.com/animate.css@4.1.1/animate.css"
    />
    <link
      rel="shortcut icon"
      href="public/1-earth-from-space-kevin-a-horganscience-photo-library.jpg"
      type="icon/png"
      sizes="32x32"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css"
    />
  </head>
  <body>
    <link rel="stylesheet" href="../style.css" />
    <div>
      <link href="./faq7.css" rel="stylesheet" />
      <div class="faq7-faq13 thq-section-padding">
        <div class="faq7-max-width thq-section-max-width">
          <div class="faq7-section-title thq-flex-column">
            <h2 class="faq7-text thq-heading-2"><span>FAQs</span></h2>
            <p class="faq7-text1 thq-body-large">
              <span>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Suspendisse varius enim in eros elementum tristique.
              </span>
            </p>
          </div>
          <div class="thq-flex-row faq7-content">
            <div class="thq-flex-column">
              <div class="faq7-list-item1">
                <svg viewBox="0 0 804.5714285714286 1024" class="faq7-icon">
                  <path
                    d="M0 388.571c0-98.857 78.857-184 179.429-184h424l201.143-204.571v840c0 99.429-78.857 184-179.429 184h-445.714c-100.571 0-179.429-84.571-179.429-184v-451.429zM704 819.429l-100.571-102.857v-242.857c0-34.857-28-64-62.857-64h-276.571c-34.857 0-62.857 29.143-62.857 64v281.143c0 34.857 28 64.571 62.857 64.571h440z"
                  ></path>
                </svg>
                <p class="faq7-faq1-question thq-body-large">
                  <span>Frequently Asked Questions</span>
                </p>
                <span class="faq7-faq1-answer thq-body-small">
                  <span>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Suspendisse varius enim in eros elementum tristique. Duis
                    cursus, mi quis viverra ornare, eros dolor interdum nulla,
                    ut commodo diam libero vitae erat. Aenean faucibus nibh et
                    justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae
                    risus tristique posuere.
                  </span>
                </span>
              </div>
              <div class="faq7-list-item2">
                <svg viewBox="0 0 804.5714285714286 1024" class="faq7-icon02">
                  <path
                    d="M0 388.571c0-98.857 78.857-184 179.429-184h424l201.143-204.571v840c0 99.429-78.857 184-179.429 184h-445.714c-100.571 0-179.429-84.571-179.429-184v-451.429zM704 819.429l-100.571-102.857v-242.857c0-34.857-28-64-62.857-64h-276.571c-34.857 0-62.857 29.143-62.857 64v281.143c0 34.857 28 64.571 62.857 64.571h440z"
                  ></path>
                </svg>
                <p class="faq7-faq2-question thq-body-large">
                  <span>Frequently Asked Questions</span>
                </p>
                <span class="faq7-faq2-answer thq-body-small">
                  <span>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Suspendisse varius enim in eros elementum tristique. Duis
                    cursus, mi quis viverra ornare, eros dolor interdum nulla,
                    ut commodo diam libero vitae erat. Aenean faucibus nibh et
                    justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae
                    risus tristique posuere.
                  </span>
                </span>
              </div>
              <div class="faq7-list-item3">
                <svg viewBox="0 0 804.5714285714286 1024" class="faq7-icon04">
                  <path
                    d="M0 388.571c0-98.857 78.857-184 179.429-184h424l201.143-204.571v840c0 99.429-78.857 184-179.429 184h-445.714c-100.571 0-179.429-84.571-179.429-184v-451.429zM704 819.429l-100.571-102.857v-242.857c0-34.857-28-64-62.857-64h-276.571c-34.857 0-62.857 29.143-62.857 64v281.143c0 34.857 28 64.571 62.857 64.571h440z"
                  ></path>
                </svg>
                <p class="faq7-faq3-question thq-body-large">
                  <span>Frequently Asked Questions</span>
                </p>
                <span class="faq7-faq3-answer thq-body-small">
                  <span>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Suspendisse varius enim in eros elementum tristique. Duis
                    cursus, mi quis viverra ornare, eros dolor interdum nulla,
                    ut commodo diam libero vitae erat. Aenean faucibus nibh et
                    justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae
                    risus tristique posuere.
                  </span>
                </span>
              </div>
            </div>
            <div class="thq-flex-column">
              <div class="faq7-list-item4">
                <svg viewBox="0 0 804.5714285714286 1024" class="faq7-icon06">
                  <path
                    d="M0 388.571c0-98.857 78.857-184 179.429-184h424l201.143-204.571v840c0 99.429-78.857 184-179.429 184h-445.714c-100.571 0-179.429-84.571-179.429-184v-451.429zM704 819.429l-100.571-102.857v-242.857c0-34.857-28-64-62.857-64h-276.571c-34.857 0-62.857 29.143-62.857 64v281.143c0 34.857 28 64.571 62.857 64.571h440z"
                  ></path>
                </svg>
                <p class="faq7-faq1-question1 thq-body-large">
                  <span>Frequently Asked Questions</span>
                </p>
                <span class="faq7-faq1-answer1 thq-body-small">
                  <span>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Suspendisse varius enim in eros elementum tristique. Duis
                    cursus, mi quis viverra ornare, eros dolor interdum nulla,
                    ut commodo diam libero vitae erat. Aenean faucibus nibh et
                    justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae
                    risus tristique posuere.
                  </span>
                </span>
              </div>
              <div class="faq7-list-item5">
                <svg viewBox="0 0 804.5714285714286 1024" class="faq7-icon08">
                  <path
                    d="M0 388.571c0-98.857 78.857-184 179.429-184h424l201.143-204.571v840c0 99.429-78.857 184-179.429 184h-445.714c-100.571 0-179.429-84.571-179.429-184v-451.429zM704 819.429l-100.571-102.857v-242.857c0-34.857-28-64-62.857-64h-276.571c-34.857 0-62.857 29.143-62.857 64v281.143c0 34.857 28 64.571 62.857 64.571h440z"
                  ></path>
                </svg>
                <p class="faq7-faq2-question1 thq-body-large">
                  <span>Frequently Asked Questions</span>
                </p>
                <span class="faq7-faq2-answer1 thq-body-small">
                  <span>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Suspendisse varius enim in eros elementum tristique. Duis
                    cursus, mi quis viverra ornare, eros dolor interdum nulla,
                    ut commodo diam libero vitae erat. Aenean faucibus nibh et
                    justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae
                    risus tristique posuere.
                  </span>
                </span>
              </div>
              <div class="faq7-list-item6">
                <svg viewBox="0 0 804.5714285714286 1024" class="faq7-icon10">
                  <path
                    d="M0 388.571c0-98.857 78.857-184 179.429-184h424l201.143-204.571v840c0 99.429-78.857 184-179.429 184h-445.714c-100.571 0-179.429-84.571-179.429-184v-451.429zM704 819.429l-100.571-102.857v-242.857c0-34.857-28-64-62.857-64h-276.571c-34.857 0-62.857 29.143-62.857 64v281.143c0 34.857 28 64.571 62.857 64.571h440z"
                  ></path>
                </svg>
                <p class="faq7-faq3-question1 thq-body-large">
                  <span>Frequently Asked Questions</span>
                </p>
                <span class="faq7-faq3-answer1 thq-body-small">
                  <span>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Suspendisse varius enim in eros elementum tristique. Duis
                    cursus, mi quis viverra ornare, eros dolor interdum nulla,
                    ut commodo diam libero vitae erat. Aenean faucibus nibh et
                    justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae
                    risus tristique posuere.
                  </span>
                </span>
              </div>
            </div>
          </div>
          <div class="faq7-content1 thq-flex-column">
            <h2 class="faq7-text2 thq-heading-2">
              <span>Still have a question?</span>
            </h2>
            <p class="faq7-text3 thq-body-large">
              <span>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              </span>
            </p>
            <button class="thq-button-outline">
              <span class="thq-body-small"><span>Contact</span></span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <script
      defer=""
      src="https://unpkg.com/@teleporthq/teleport-custom-scripts"
    ></script>
  </body>
</html>
